<!-- Mission Feedback Page --!>
<!DOCTYPE html>
{% load pipeline %}

<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>AUVSI SUAS Mission {{mission.id}} Interop Feedback</title>
    {% stylesheet 'styles' %}
    {% javascript 'scripts' %}
</head>

<body>
    {% for feedback in feedbacks %}
    <div class="container" style="page-break-after: always;">
        <div class="row">
            <div class="col">
                <h2>AUVSI SUAS Mission {{mission.id}} Feedback</h2>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <pre style="column-count: 2;">
{{feedback}}
                </pre>
            </div>
        </div>
    </div>
    {% endfor %}
</body>
</html>
