<div class="card team-status {{teamStatusCtrl.getTeamColorClasses()}} p-1" ng-show="teamStatusCtrl.shouldShow()" ng-cloak>
    <div class="card-body">
        <h4>{{teamStatusCtrl.team.id}}: {{teamStatusCtrl.team.name}}</h4>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <span class="team-status-icon col-3" ng-show="teamStatusCtrl.team.on_clock"
                  title="On Mission Clock">
                &#128336;  <!-- CLOCK FACE ONE OCLOCK --!>
            </span>
            <span class="team-status-icon col-3" ng-show="teamStatusCtrl.team.on_timeout"
                  title="On Timeout">
                &#9208;  <!-- DOUBLE VERTICAL BAR --!>
            </span>
            <span class="team-status-icon col-3" ng-show="teamStatusCtrl.active"
                  title="Sending Telemtry">
                &#8633;  <!-- LEFTWARDS ARROW TO BAR OVER RIGHTWARDS ARROW TO BAR --!>
            </span>
            <span class="team-status-icon col-3" ng-show="teamStatusCtrl.team.in_air"
                  title="In Air">
                &#9992;  <!-- AIRPLANE --!>
            </span>
        </li>
        <li class="list-group-item">
            <span class="col-4">
                Lat: {{teamStatusCtrl.team.telemetry.latitude | number : 6}}
            </span>
            <span class="col-4">
                Lon: {{teamStatusCtrl.team.telemetry.longitude | number: 6}}
            </span>
            <span class="col-4">
                Alt: {{teamStatusCtrl.team.telemetry.altitude_msl | number: 1}}
            </span>
        </li>
    </ul>
</div>
