<div class="panel team-status {{teamStatusCtrl.getTeamColorClasses()}}">
    <h4>{{teamStatusCtrl.team.id}}: {{teamStatusCtrl.team.name}}</h4>
    <div class="row">
        <div class="small-4 columns">
            <h6>Lat: {{teamStatusCtrl.telemetry.latitude | number : 6}}</h6>
        </div>
        <div class="small-4 columns">
            <h6>Lon: {{teamStatusCtrl.telemetry.longitude | number: 6}}</h6>
        </div>
        <div class="small-4 columns">
            <h6>Alt (ft MSL): {{teamStatusCtrl.telemetry.altitude_msl | number: 6}}</h6>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <span class="team-status-icon label" ng-if="teamStatusCtrl.team.on_clock"
                  title="On Mission Clock">
                &#128336;  <!-- CLOCK FACE ONE OCLOCK --!>
            </span>
            <span class="team-status-icon label" ng-if="teamStatusCtrl.team.on_timeout"
                  title="On Timeout">
                &#9208;  <!-- DOUBLE VERTICAL BAR --!>
            </span>
            <span class="team-status-icon label" ng-if="teamStatusCtrl.team.active"
                  title="Sending Telemtry">
                &#8633;  <!-- LEFTWARDS ARROW TO BAR OVER RIGHTWARDS ARROW TO BAR --!>
            </span>
            <span class="team-status-icon label" ng-if="teamStatusCtrl.team.in_air"
                  title="In Air">
                &#9992;  <!-- AIRPLANE --!>
            </span>
        </div>
    </div>
</div>
