/**
 * Styles for the Target Review page.
 */

#target-list {
    padding: 0 20px 0 20px;
}

.target-list-item {
    margin: 0;
    width: 100%;
}

#target-img-holder {
    padding: 20px;
}

#target-img-holder div {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#target-detail {
    margin-top: 20px;
    padding: 20px;
}

#target-detail div {
    padding: 10px;
}

#target-detail div h4 {
    text-decoration: underline;
}

#target-approve-deny {
    text-align: center;
}

#target-approve-deny button {
    display: inline-block;
}
