<div class="row">
  <div class="small-2 columns">
    <div class="row text-center text-middle">
      <h4>Target Review</h4>
    </div>

    <hr></hr>

    <div class="row text-center text-middle">
        <div id="target-list" class="button-group stacked">
            <button type="button"
                class="target-list-item {{targetReviewCtrl.getTargetButtonClass(target)}}"
                ng-repeat="target in targetReviewCtrl.getReviewTargets()"
                ng-click="targetReviewCtrl.setReviewTarget(target)">
                {{target.id}}
            </button>
        </div>
    </div>
  </div>

  <div id="target-detail" class="small-3 columns"
       ng-show="targetReviewCtrl.getReviewTarget()">
    <div id="target-review" class="panel">
        <button type="button" class="success button" ng-click="targetReviewCtrl.saveReview()">Save and Advance</button>
        <h5>
            <input type="checkbox" ng-model="targetReviewCtrl.getReviewTarget().thumbnail_approved">
            Thumbnail Approved
        </h5>
        <h5 ng-show="targetReviewCtrl.getReviewTarget().type == 'emergent'">
            <input type="checkbox" ng-model="targetReviewCtrl.getReviewTarget().description_approved">
            Emergent Description Approved
        </h5>
    </div>
    <div class="panel">
        <div ng-repeat="detail in targetReviewCtrl.getReviewTargetDetails()">
            <h4>{{detail.key}}</h4>
            <h5>{{detail.value}}</h5>
        </div>
    </div>
  </div>

  <div id="target-img-holder" class="small-7 columns">
      <div ng-show="targetReviewCtrl.getReviewTarget()"
          style="{{targetReviewCtrl.getTargetImgStyle()}}"></div>
  </div>
</div>

