<div class="row p-4">
    <div class="col-12 text-center">
        <h4>Evaluate Teams</h4>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <label>
            Team
            <select ng-model="evaluateTeamsCtrl.selectedTeamId">
                <option value=-1>All</option>
                <option ng-repeat="t in evaluateTeamsCtrl.teams | orderBy: 'team'" ng-value="t.id">{{t.team.university}} ({{t.team.username}})</option>
            </select>
        </label>
        <button type="button" class="success button" ng-click="evaluateTeamsCtrl.evaluate()">Evaluate</button>
    </div>
  </div>
</div>
