<div class="row p-4">
    <div class="col-12 text-center">
        <h4>Select a Mission</h4>
    </div>
</div>

<div class="row" ng-if="!missionListCtrl.hasMissions()">
    <div class="col-12 p-2 text-center">
        <p>No missions stored.</p>
    </div>
</div>
<div class="row" ng-if="missionListCtrl.hasMissions()">
    <div class="col-12 p-2 text-center">
        <div class="btn-group-vertical">
            <a role="button" class="btn btn-primary" ng-repeat="mission in missionListCtrl.getMissions()" href="/#!/mission/{{mission.id}}">
                Mission {{mission.id}}
            </a>
        </div>
    </div>
</div>
