<div class="row p-4">
    <div class="col-12 text-center">
        <h4>ODLC Review</h4>
    </div>
</div>

<div class="row text-center">
    <div class="col-2 p-2">
        <div id="odlc-list" class="button-group stacked">
            <button type="button"
                class="odlc-list-item {{odlcReviewCtrl.getOdlcButtonClass(odlcReview)}}"
                ng-repeat="odlcReview in odlcReviewCtrl.getReviewOdlcs()"
                ng-click="odlcReviewCtrl.setReviewOdlc(odlcReview)">
                {{odlcReview.odlc.id}}
            </button>
        </div>
  </div>

  <div id="odlc-detail" class="col-5 p-2"
       ng-show="odlcReviewCtrl.getReviewOdlc()">
    <div id="odlc-review">
        <button type="button" class="btn btn-success" ng-click="odlcReviewCtrl.saveReview()">Save and Advance</button>
        <h5>
            <input type="checkbox" ng-model="odlcReviewCtrl.getReviewOdlc().thumbnailApproved">
            Thumbnail Approved
        </h5>
        <h5 ng-show="odlcReviewCtrl.getReviewOdlc().odlc.type == 'EMERGENT'">
            <input type="checkbox" ng-model="odlcReviewCtrl.getReviewOdlc().descriptionApproved">
            Emergent Description Approved
        </h5>
    </div>
    <div class="">
        <div ng-repeat="detail in odlcReviewCtrl.getReviewOdlcDetails()">
            <h4>{{detail.key}}</h4>
            <h5>{{detail.value}}</h5>
        </div>
    </div>
  </div>

  <div id="odlc-img-holder" class="col-5 p-2">
      <div ng-show="odlcReviewCtrl.getReviewOdlc()"
          style="{{odlcReviewCtrl.getOdlcImgStyle()}}"></div>
  </div>
</div>

