<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{% static 'auvsi_suas/css/foundation.css' %}" />
  <script src="{% static 'auvsi_suas/js/foundation/foundation.js' %}"></script>
  <title>AUVSI SUAS Server</title>
</head>

<body>

  <div class="row">
    <div class="small-12 large-12 columns" style="text-align:center;">
      <h1>AUVSI SUAS Competition Server</h1>
      <p>
        This webpage was served by the AUVSI SUAS competition web server. This
        is a placeholder for the administration interface.
      </p>
    </div>
  </div>

</body>

</html>

