<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">

<head>
  <meta charset="utf-8" />
  <!-- Foundation --!>
  <link rel="stylesheet" href="{% static 'auvsi_suas/foundation/css/foundation.min.css' %}" />
  <link rel="stylesheet" href="{% static 'auvsi_suas/foundation/css/normalize.css' %}" />
  <script src="{% static 'auvsi_suas/foundation/js/fastclick.js' %}"></script>
  <script src="{% static 'auvsi_suas/foundation/js/jquery.js' %}"></script>
  <script src="{% static 'auvsi_suas/foundation/js/jquery.cookie.js' %}"></script>
  <script src="{% static 'auvsi_suas/foundation/js/modernizr.js' %}"></script>
  <script src="{% static 'auvsi_suas/foundation/js/placeholder.js' %}"></script>
  <script src="{% static 'auvsi_suas/foundation/js/foundation.min.js' %}"></script>
  <script src="{% static 'auvsi_suas/foundation/js/foundation.abide.js' %}"></script>
  <script src="{% static 'auvsi_suas/foundation/js/foundation.accordion.js' %}"></script>
  <script src="{% static 'auvsi_suas/foundation/js/foundation.alert.js' %}"></script>
  <script src="{% static 'auvsi_suas/foundation/js/foundation.clearing.js' %}"></script>
  <script src="{% static 'auvsi_suas/foundation/js/foundation.dropdown.js' %}"></script>
  <script src="{% static 'auvsi_suas/foundation/js/foundation.equalizer.js' %}"></script>
  <script src="{% static 'auvsi_suas/foundation/js/foundation.interchange.js' %}"></script>
  <script src="{% static 'auvsi_suas/foundation/js/foundation.joyride.js' %}"></script>
  <script src="{% static 'auvsi_suas/foundation/js/foundation.magellan.js' %}"></script>
  <script src="{% static 'auvsi_suas/foundation/js/foundation.offcanvas.js' %}"></script>
  <script src="{% static 'auvsi_suas/foundation/js/foundation.orbit.js' %}"></script>
  <script src="{% static 'auvsi_suas/foundation/js/foundation.reveal.js' %}"></script>
  <script src="{% static 'auvsi_suas/foundation/js/foundation.slider.js' %}"></script>
  <script src="{% static 'auvsi_suas/foundation/js/foundation.tab.js' %}"></script>
  <script src="{% static 'auvsi_suas/foundation/js/foundation.tooltip.js' %}"></script>
  <script src="{% static 'auvsi_suas/foundation/js/foundation.topbar.js' %}"></script>
  <title>AUVSI SUAS Server</title>
</head>

<body>

  <div class="row">
    <div class="small-12 large-12 columns" style="text-align:center;">
      <h1>AUVSI SUAS Competition Server</h1>
      <p>
        This webpage was served by the AUVSI SUAS competition web server. This
        is a placeholder for the administration interface.
      </p>
    </div>
  </div>

</body>

</html>

